ConsumoServiciosWeb/ConsumoServiciosWeb/Connected Services/PxEndpointWCF/Endpoints.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="rdPConfirmUnParkingOperation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlIn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ConsolaSoapHeader">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdContrata" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocalTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NomUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumSerie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsolaSoapHeader" nillable="true" type="tns:ConsolaSoapHeader" />
  <xs:element name="rdPConfirmUnParkingOperationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rdPConfirmUnParkingOperationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="rdPQueryFinePaymentQuantity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlIn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="rdPQueryFinePaymentQuantityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rdPQueryFinePaymentQuantityResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="rdPQueryListOfFines">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlIn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="rdPQueryListOfFinesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rdPQueryListOfFinesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="rdPConfirmFinePayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlIn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="rdPConfirmFinePaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rdPConfirmFinePaymentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="rdPNotifyAlarm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlIn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="rdPNotifyAlarmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rdPNotifyAlarmResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="rdPNotifyCollection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlIn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="rdPNotifyCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rdPNotifyCollectionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="rdPConfirmParkingOperation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlIn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="rdPConfirmParkingOperationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rdPConfirmParkingOperationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="rdPCancelParkingOperation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTicket" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="rdPCancelParkingOperationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rdPCancelParkingOperationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>